@charset "UTF-8";

/* header
------------------------------ */
.header {
  margin-bottom: 50px;
}

/* SP-header */
@media screen and (max-width: 834px) {
  .header {
    margin-bottom: 30px;
  }
}

/* main
------------------------------ */
.main { 
  margin: 0 auto 100px;
}

/* ページタイトル */
.trainerStoryTitle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 10%;
}
.trainerStoryTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}
.trainerStoryTitleContainer > .title,
.trainerStoryTitleContainer > .titleSub {
  display: inline-block;
  font-size: clamp(24px, 5.8365px + 4.8436vw, 72px);
  color: #1b1b1b;
  font-weight: bold;
  padding: 10px 5.4% 20px 7.3%;
  background: #fff;
  white-space: nowrap;
  margin: 0;
}
.visualImage {
  animation: fadeIn .5s linear 1.6s 1 normal backwards;
  z-index: -1;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.visualImage > .trainerImage2 {
  width: calc(100vw / 2.5);
  max-width: 450px;
}

/* sp-ページタイトル */
@media screen and (max-width: 1366px) {
  .trainerStoryTitle {
    padding-right: 2%;
  }
}

@media screen and (max-width: 450px) {
  .trainerStoryTitleContainer > .title,
  .trainerStoryTitleContainer > .titleSub {
    padding: 8px 5.4% 15px 7.3%;
  }
}
@media screen and (max-width: 320px) {
  .trainerStoryTitleContainer > .title,
  .trainerStoryTitleContainer > .titleSub {
    font-size: 22px;
  }
}

/* 波線上部 */
.wave {
  position: relative;
  width: 100%;
}
#svg-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
/* 波線下部 */
.reWave {
  width: 100%;
  /* z-index: 2; */
}
#re-svg-bg {
  width: 100%;
}

/* ストーリーコンテンツ部分 */
.bl-storyContents {
  padding: 50px 4% 80px;
  margin-top: -10px;
  background-color: #fff;
}
.bl-storyContentsContainer {
  width: 100%;
  max-width: 1166px;
}
.bl-content01 {
  width: 100%;
  max-width: 1166px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  margin: 0 auto 180px;
}
.bl-content03 {
  width: 100%;
  max-width: 1166px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  margin: 0 auto 180px;
}
.bl-content02,
.bl-content04 {
  width: 100%;
  max-width: 1166px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  margin: 0 auto 180px;
}
.bl-content05 {
  width: 100%;
  max-width: 1166px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  margin: 0 auto;
}

/* sp-ストーリーコンテンツ部分 */
@media screen and (max-width: 1025px) {
  .bl-content01,
  .bl-content03 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 0 auto 150px;
  }
  .bl-content02,
  .bl-content04 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 0 auto 150px;
  }
  .bl-content05 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 429px) {
  .bl-storyContents {
    padding: 50px 0 80px;
  }
  .bl-content01,
  .bl-content03 {
    margin: 0 auto 120px;
  }
  .bl-content02,
  .bl-content04 {
    margin: 0 auto 120px;
  }
}

/* ストーリータイトル */
.bl-story {
  width: 100%;
  max-width: 420px;
}
.re-storyTitleDouble {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
}
.storyTitleDouble {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}
.bl-story06 > .storyTitleSingle {
  display: flex;
  align-items: flex-end;
  justify-content: right;
}
.firstTitle,
.secondTitle {
  display: inline-block;
  font-size: clamp(22px, 17.7184px + 1.338vw, 36px);
  font-weight: 700;
  padding: 12px 30px;
  color: #fff;
  background-color: #1b1b1b;
  white-space: nowrap;
}
.secondTitle {
  margin-top: -5px;
}

/* ストーリーテキストブロック */
.storyTextBox,
.storyTextBoxRight {
  width: 20em;
  max-width: 350px;
  position: relative;
}
.storyTextBox {
  margin-left: 30px;
}
.storyTextBoxRight {
  margin-right: 30px;
  margin-left: auto;
}
/* テキストのデコレーション */
.storyText {
  text-align: justify;
  text-justify: inter-ideograph;
  line-height: 2;
}

.firstCharacter {
  font-size: 350%;
  color: #f39800;
  float: left;
  line-height: 1;
  margin-right: 8px;
}

/* 続きを読むのデザインとアニメーション */
/* ボタン */
.readMoreBtn {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  display: inline-block;
  width: fit-content;
  padding: 15px 50px;
  margin: auto;
  background-color: transparent;
  font-size: 16px;
  color: #1b1b1b;
  text-align: center;
  border: thin solid #1b1b1b;
  /* cursor: pointer; */
  transition: all .2s;
  z-index: 2;
}
/* 続きを読むの表記 */
.readMoreBtn::before {
  content: 'Read More';
}
/* ボタンデザインの背景 */
.readMoreBtn::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 7px;
  width: 100%;
  height: 100%;
  background-color: rgba(243, 152, 0, .8);
  transition: all .2s;
  z-index: -1;
}
/* ボタンにホバーしたときのスタイル */
.readMoreBtn:hover::after {
  bottom: 0;
  left: 0;
}
/* テキスト部分の処理 */
.readMoreArea {
  /* テキストを隠す */
  overflow: hidden;
  position: relative;
  height: 400px; /* テキストが見えている部分の高さ */
}
/* テキストをグラデーションで隠す */
.readMoreArea::before {
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,.9) 50%, rgba(255,255,255,.9) 50%, #fff 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,.9) 50%, rgba(255,255,255,.9) 50%, #fff 100%);
  position: absolute;
  content: '';
  bottom: 0;
  /* グラデーションで隠す高さ */
  height: 80px;
  width: 100%;
}
/* 閉じるボタンの位置 */
.active {
  bottom: -4em;
}
.readMoreBtn.active::before {
  content: 'Close';
}
/* 続きを見るボタンをクリックしたら、
テキストを隠しているグラデーションを消す */
.readMoreBtn.active + .readMoreArea::before {
  display: none;
}

/* sp-storyContents */
@media screen and (max-width: 1025px) {
  .bl-story {
    width: 380px;
    margin: 0 auto;
  }
  .bl-story01 {
    width: 350px;
    margin: 0 auto;
  }
  /* ストーリーテキストブロック */
  .storyTextBox,
  .storyTextBoxRight {
    width: 100%;
    max-width: 280px;
  }
  .storyText {
    font-size: 1.4rem;
    line-height: 1.8;
  }
}

@media screen and (max-width: 835px) {
  .bl-story {
    width: 320px;
  }
  .firstTitle,
  .secondTitle {
    padding: 10px 20px;
  }
  /* ストーリーテキストブロック */
  .storyTextBox {
    margin-left: 20px;
  }
  .storyTextBoxRight {
    margin-right: 20px;
    margin-left: auto;
  }
}

@media screen and (max-width: 376px) {
  .bl-story {
    width: 300px;
    margin: 0 auto;
  }
  .bl-story01,
  .bl-story03,
  .bl-story05 {
    padding-right: 4%;
  }
  .bl-story02,
  .bl-story04,
  .bl-story06 {
    padding-left: 4%;
  }
  /* ストーリーテキストブロック */
  .storyTextBox {
    margin-left: 15px;
  }
  .storyTextBoxRight {
    margin-right: 15px;
    margin-left: auto;
  }
}

/* ストーリーフォト */
.bl-memoryPhoto {
  width: 100%;
}
.bl-memoryPhotoTate {
  width: 100%;
}
.memoryPhotoContainer {
  width: 100%;
}
.bl-content05 > .bl-memoryPhoto > .memoryPhotoContainer {
  width: 95%;
}
.memoryPhotoContainerTate {
  width: 90%;
}
.bgImage {
  position: relative;
  max-width: 100%;
  max-width: 650px;
  text-align: center;
}
.bl-content02 > .bl-memoryPhoto > .memoryPhotoContainer > .bgImage,
.bl-content04 > .bl-memoryPhoto > .memoryPhotoContainer > .bgImage {
  margin-left: auto;
}
.bl-content03 > .bl-memoryPhotoTate > .memoryPhotoContainerTate > .bgImage,
.bl-content05 > .bl-memoryPhoto > .memoryPhotoContainer > .bgImage {
  margin-right: auto;
}
#frameYoko {
  width: 100%;
  max-width: 610px;
}
#frameTate {
  width: 100%;
  max-width: 490px;
}
.memoryPhoto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-7deg);
  width: 100%;
  max-width: 600px;
}
.memoryPhotoTate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(7deg);
  width: 100%;
  max-width: 480px;
}
.re-memoryPhoto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(7deg);
  width: 100%;
  max-width: 600px;
}

/* sp-ストーリーフォト */
@media screen and (max-width: 1025px) {
  .bl-content02 > .bl-memoryPhoto > .memoryPhotoContainer,
  .bl-content04 > .bl-memoryPhoto > .memoryPhotoContainer {
    margin: 0 auto;
  }
  .bl-content03 > .bl-memoryPhotoTate > .memoryPhotoContainerTate,
  .bl-content05 > .bl-memoryPhoto > .memoryPhotoContainer {
    margin: 0 auto;
  }
  .bl-content02 > .bl-memoryPhoto > .memoryPhotoContainer > .bgImage,
  .bl-content04 > .bl-memoryPhoto > .memoryPhotoContainer > .bgImage {
    margin: 0 auto;
  }
  .bl-content03 > .bl-memoryPhotoTate > .memoryPhotoContainerTate > .bgImage,
  .bl-content05 > .bl-memoryPhoto > .memoryPhotoContainer > .bgImage {
    margin: 0 auto;
  }
}

@media screen and (max-width: 700px) {
  #frameYoko {
    width: 92%;
  }
  #frameTate {
    width: 92%;
  }
  .memoryPhoto {
    width: 92%;
  }
  .memoryPhotoTate {
    width: 92%;
  }
  .re-memoryPhoto {
    width: 92%;
  }
}

@media screen and (max-width: 429px) {
  #frameYoko {
    width: 88%;
  }
  #frameTate {
    width: 88%;
  }
  .memoryPhoto {
    width: 88%;
  }
  .memoryPhotoTate {
    width: 88%;
  }
  .re-memoryPhoto {
    width: 88%;
  }
}