/* content
------------------------------ */
@mixin gridLayout($bc) {
	display: grid;
	grid-template: 
  "block1 block2 block2 block3 block3 block3 block3 block4" 60px
  "block5 block6 block6 block7 block7 block7 block7 block4" 60px
  "block5 block6 block6 block10 block10 block10 block10 block11" 60px
  "block5 block8 block9 block10 block10 block10 block10 block11" 60px
  "block5 block8 block9 block10 block10 block10 block10 block11" 60px
  "block12 block13 block13 block13 block14 block15 block15 block16" 60px
  "block12 block13 block13 block13 block14 block15 block15 block16" 60px
  "block12 block17 block17 block17 block18 block18 block18 block19" 60px
  / 60px 60px 60px 60px 60px 60px 60px 60px;
  gap: 8px;
  background-color: $bc;
}

@mixin blockPerspective($value) {
	-webkit-perspective: $value;
  perspective: $value;
}

@mixin blockShadow {
	box-shadow:
        0 1.9px 2.5px rgba(0, 0, 0, 0.12),
        0 5px 6.1px rgba(0, 0, 0, 0.15),
        0 10.1px 11.4px rgba(0, 0, 0, 0.17),
        0 19.2px 19.8px rgba(0, 0, 0, 0.2),
        0 38.4px 34.8px rgba(0, 0, 0, 0.22),
        0 101px 74px rgba(0, 0, 0, 0.25);
}

@mixin blockFrontDesign($bc) {
	background-color: $bc;
  -webkit-transform: translateZ(60px);
  transform: translateZ(60px);
}

@mixin blockContentDesign($bc) {
	background-color: $bc;
  box-shadow:
    0 1.9px 2.5px rgba(0, 0, 0, 0.12),
    0 5px 6.1px rgba(0, 0, 0, 0.15),
    0 10.1px 11.4px rgba(0, 0, 0, 0.17),
    0 19.2px 19.8px rgba(0, 0, 0, 0.2),
    0 38.4px 34.8px rgba(0, 0, 0, 0.22),
    0 101px 74px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(-60px) rotateX(90deg);
  transform:  translateY(-60px) rotateX(90deg);
}

@mixin gloss {
	background-image: linear-gradient(rgba(255,255,255,.25) 0%,transparent 50%,transparent 50%,rgba(0,0,0,.1) 100%);
}
/* font
------------------------------ */

/**
 * ViewportScale v0.2.2
 * Copyright (c) 2018 Kite
 * MIT License
 */
  @function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

@mixin vs($property, $min-vp, $min-length, $max-vp, $max-length, $vp-unit: 'vw') {
	$u01: unit($min-vp);
	$u02: unit($min-length);
	$u03: unit($max-vp);
	$u04: unit($max-length);

	$a: strip-unit($min-vp);
	$b: strip-unit($min-length);
	$c: strip-unit($max-vp);
	$d: strip-unit($max-length);

	@if $u01 == $u03 and $u02 == $u04 {

		$x: (($d - $b) / ($c - $a) * 100) + #{$vp-unit};
		$y: (($c * $b - $a * $d) / ($c - $a)) + #{$u02};

		#{$property}: $min-length;

		@media screen and (min-width: $min-vp) {
			@if $y == 0 {
				#{$property}: $x;
			} @else {
				#{$property}: calc(#{$x} + #{$y});
			}
		}

		@media screen and (min-width: $max-vp) {
			#{$property}: $max-length;
		}
	}
}