@charset "UTF-8";

/* Base Style
------------------------------ */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #1b1b1b;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Noto Sans JP', 'Cormorant Garamond', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  background-color: #fef4d9;
}

a {
  text-decoration: none;
  color: #1b1b1b;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body,
a,
input,
select,
textarea {
	cursor: none;
}

.snsLinkInstagramImage,
.snsLinkLineImage {
  width: 30px;
  height: 30px;
}

/* ヘルパークラス
------------------------------ */
/* margin */
.hp-mr30 {
  margin-right: 30px;
}
.hp-mr150 {
  margin-right: 150px;
}
.hp-mb10 {
  margin-bottom: 10px;
}
.hp-mb15 {
  margin-bottom: 15px;
}
.hp-mb30 {
  margin-bottom: 30px;
}
.hp-mb40 {
  margin-bottom: 40px;
}
.hp-mb50 {
  margin-bottom: 50px;
}
.hp-ml10 {
  margin-left: 10px;
}
.hp-ml20 {
  margin-left: 20px;
}
.hp-ml30 {
  margin-left: 30px;
}
.hp-ml40 {
  margin-left: 40px;
}
.hp-ml60 {
  margin-left: 60px;
}
.hp-ml70 {
  margin-left: 70px;
}
.hp-ml90 {
  margin-left: 90px;
}
.hp-ml100 {
  margin-left: 100px;
}

/* font-size */
.hp-fs12 {
  font-size: 12px;
}
.hp-fs200 {
  font-size: 200%;
}

.orangeSentence {
  color: #f39800;
}


/* ローディング画面
------------------------------ */
/* ローディング画面のためのCSS */
#splash {
  /* fixedで全面に固定*/
  position:fixed ;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  background: #fef4d9;
  text-align: center;
  color: #f39800;
}
/* Loading画面中央配置 */
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Loadingアイコンの大きさ設定 */
#splash_logo img {
  width: 260px;
}
/* fadeUpをするアイコンの動き */
.fadeUpLogo {
  animation-name: fadeUpLogoAnime;
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpLogoAnime {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* header
------------------------------ */
.header {
  width: 100%;
}
.headerContainer {
  padding: 0 55px 0 4%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerLogoImage {
  width: 300px;
  height: auto;
}

/* nav
------------------------------ */
.navMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuList {
  padding-right: 20px;
}
.menuList > .topPageLink,
.menuList > .trainerPageLink {
  position: relative;
}
.menuList > .topPageLink::after,
.menuList > .trainerPageLink::after {
  position: absolute;
  content: '';
  left: 0;
  width: 100%;
  height: 1.5px;
  background: rgba(27, 27, 27, .6);
  /* アンダーラインが現れ始める位置
  aタグの下辺からの高さ */
  bottom: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}
.menuList > .topPageLink:hover::after,
.menuList > .trainerPageLink:hover::after {
  visibility: visible;
  /* アンダーラインが止まる位置 */
  bottom: -3px;
  opacity: 1;
}

/* ハンバーガーメニュー */
/* ボタンのためのCSS */
.openBtn {
  position: absolute;
  top: 25px;
  right: 15px;
  /* ボタンを最前面へ */
  z-index: 999;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.openBtn span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #1b1b1b;
  width: 45%;
}
.openBtn span:nth-of-type(1) {
  top: 15px;
}
.openBtn span:nth-of-type(2) {
  top: 23px;
}
.openBtn span:nth-of-type(3) {
  top: 31px;
}
/* xに変化 */
.openBtn.active {
  z-index: 9999;
}
.openBtn.active span:nth-of-type(1) {
  top: 20px;
  left: 15px;
  transform: translateY(6px) rotate(-45deg);
  width: 45%;
}
.openBtn.active span:nth-of-type(2) {
  opacity: 0;
}
.openBtn.active span:nth-of-type(3) {
  top: 32px;
  left: 15px;
  transform: translateY(-6px) rotate(45deg);
  width: 45%;
}



/* ナビゲーションのためのCSS */
#globalNav {
  position: fixed;
  z-index: -1;
  opacity: 0;/* はじめは透過0 */
  /* ナビの位置と形状 */
  top: 0;
  width: 100%;
  height: 100vh;
}
/* アクティブになったエリア */
#globalNav.panelActive {
  /* position: fixed;にして、z-indexの数値を大きくして全面へ */
  z-index: 999;
  opacity: 1;
}
/* ナビゲーションの縦スクロール */
#globalNav.panelActive #globalNavList {
  /* ナビの数が増えた場合縦スクロール */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: auto;
  /* -webkit-overflow-scrolling: touch; */
}
/* ナビゲーション */
#globalNav ul {
  /* はじめは非表示 */
  display: none;
  /* ナビゲーションの天地中央揃え */
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#globalNav.panelActive ul {
  /* クラスが付与されたら出現 */
  display: block;
}
/* 背景が出現後にナビゲーションliを表示 */
#globalNav.panelActive ul li {
  animation-name: gnaviAnime;
  animation-duration: 1s;
  /* 0.2秒遅らせて出現 */
  animation-delay: .3s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes gnaviAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 丸の拡大 */
.circleBackground {
  position: fixed;
  z-index: 3;
  /* 丸の形 */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(243, 152, 0, .8);
  /* 丸のスタート位置と形状 */
  /* scaleをはじめは0に */
  transform: scale(0);
  top: -50px;
  right: -50px;
  /* 0.6sかけてアニメーション */
  transition: all .75s;
}
.circleBackground.circleActive {
  /* クラスが付与されたらscaleを拡大 */
  transform: scale(50);
}
#globalNav ul {
  list-style: none;
  text-align: center;
}
#globalNav ul li a {
  display: inline-block;
  padding: 10px;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, .6);
}

/* SP header */
@media screen and (max-width: 1024px) {
  .headerLogoImage {
    width: 250px;
  }
}

@media screen and (max-width: 834px) {
  .headerContainer {
    padding: 0 4%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .headerLogoImage {
    width: 200px;
    height: auto;
  }
  .navMenu {
    display: none;
  }
  .openBtn {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  /* 丸の拡大 */
  .circleBackground {
    /* 丸の形 */
    width: 70px;
    height: 70px;
    top: -80px;
    right: -80px;
    /* 0.6sかけてアニメーション */
    transition: all .8s;
  }
}

/* pageTopBtn
------------------------------ */
/* ページトップリンクボタン */
.pageTopBtn {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(#B4FF96 0%, #96E647 100%);
  box-shadow: inset 0 3px 0 rgba(255,255,255,.3) ,0 3px 3px rgba(0, 0, 0, .3);
  transition: all .3s;
  position: relative;
}
.pageTopBtn::after {
  display: inline-block;
  content: url(../images/icon/topPageLinkArrow.png);
  vertical-align: middle;
  text-align: center;
  transform: scale(.4);
  position: absolute;
  top: 3px;
  left: -10px;
}
.pageTopBtn:hover {
  opacity: .8;
}
.pageTopBtn:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  box-shadow: 0 0 2px rgba(0, 0, 0, .35);
  border-bottom: none;
}
/* ボタンを右下に固定する */
#pageTop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 2;
  /* はじめは非表示 */
  opacity: 0;
  transform: translateX(100px);
}
/* 左の動き */
#pageTop.leftMove {
  animation: leftAnime .5s forwards;
}

@keyframes leftAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* 右の動き */
#pageTop.rightMove {
  animation: rightAnime .5s forwards;
}

@keyframes rightAnime {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100px);
  }
}

/* sp-ページトップリンクボタン */
@media screen and (max-width: 960px) {
  #pageTop {
    right: 20px;
    bottom: 30px;
  }
  .pageTopBtn {
    width: 45px;
    height: 45px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,.3) ,0 2px 2px rgba(0, 0, 0, .3);
  }
  .pageTopBtn::after {
    transform: scale(.35);
    top: -2%;
    left: -12.5px;
  }
}
@media screen and (max-width: 600px) {
  #pageTop {
    right: 20px;
    bottom: 20px;
  }
}

/* footer
------------------------------ */
.footer {
  width: 100%;
  background-color: #f39800;
}
.footerContainer {
  height: 200px;
  margin: 0 auto;
  padding: 50px 0;
}
.footerMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.footerMenu > .footerMenuList > .footerMenuListLink {
  line-height: 2;
}
.footerMenuList {
  padding-right: 20px;
}
.footerMenuList:last-child {
  padding-right: 0;
}
.footerMenuList > a {
  position: relative;
}
.footerMenuList > a::after {
  position: absolute;
  content: '';
  left: 0;
  width: 100%;
  height: 1.5px;
  background: rgba(27, 27, 27, .6);
  /* アンダーラインが現れ始める位置
  aタグの下辺からの高さ */
  bottom: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
.footerMenuList > a:hover:after {
  visibility: visible;
  /* アンダーラインが止まる位置 */
  bottom: -3px;
  opacity: 1;
}
.snsLinkMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.snsLinkMenuList {
  padding-right: 30px;
}
.snsLinkMenuList:last-child {
  padding-right: 0;
}
.copyright {
  text-align: center;
}

/* SP footer */
@media screen and (max-width: 768px) {
  .footerContainer {
    height: 250px;
    padding: 50px 4%;
  }
  .footerMenu {
    margin-bottom: 30px;
  }
  .snsLinkMenu {
    margin-bottom: 30px;
  }
}

/* マウスストーカー
------------------------------ */
#cursor,
#mouseStalker {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  overflow: hidden;
  pointer-events: none;
  z-index: 999;
}
#cursor {
  width: 10px;
  height: 10px;
  background-color: #1b1b1b;
  opacity: .8;
}
#mouseStalker {
  width: 30px; /* マウスストーカーの直径 */
  height: 30px; /* マウスストーカーの直径 */
  background: rgba(255, 255, 255, .6);
  transform: translate(0, 0);
  transition: transform .25s, top .5s, left .5s, width .5s, height .5s, background-color .5s; /* ポインターに遅れて付いてくる */
  transition-timing-function: ease-out;
  box-shadow: 0 0 7px 3px rgba(255, 255, 255, .4);
  z-index: 999;
}
#cursor.active {
  width: 55px;
  height: 55px;
  background-color: rgba(243, 152, 0, .6);
}

/* SP mouseStalker */
@media screen and (max-width: 1025px) {
  #cursor, 
  #mouseStalker {
    display: none;
  }
}