@charset "UTF-8";

/* Base Style
------------------------------ */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #1b1b1b;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Noto Sans JP', 'Cormorant Garamond', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  background-color: #fef4d9;
}

a {
  text-decoration: none;
  color: #1b1b1b;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body,
a,
input,
select,
textarea {
	cursor: none;
}

/* ローディング画面
------------------------------ */
/* ローディング画面のためのCSS */
#splash {
  /* fixedで全面に固定*/
  position:fixed ;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: #fef4d9;
  text-align: center;
  color: #f39800;
}
/* Loading画面中央配置 */
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Loadingアイコンの大きさ設定 */
#splash_logo img {
  width: 260px;
}
/* fadeUpをするアイコンの動き */
.fadeUpLogo {
  animation-name: fadeUpLogoAnime;
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpLogoAnime {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* マウスストーカー
------------------------------ */
#cursor,
#mouseStalker {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  overflow: hidden;
  pointer-events: none;
  z-index: 999;
}
#cursor {
  width: 10px;
  height: 10px;
  background-color: #1b1b1b;
}
#mouseStalker {
  width: 30px; /* マウスストーカーの直径 */
  height: 30px; /* マウスストーカーの直径 */
  background: rgba(255, 255, 255, .6);
  transform: translate(0, 0);
  transition: transform .25s, top .5s, left .5s, width .5s, height .5s, background-color .5s; /* ポインターに遅れて付いてくる */
  transition-timing-function: ease-out;
  box-shadow: 0 0 7px 3px rgba(255, 255, 255, .4);
  z-index: 999;
}
.colorOrange {
  background-color: rgba(243, 152, 0, .6) !important;
}

/* SP mouseStalker */
@media screen and (max-width: 1025px) {
  #cursor, 
  #mouseStalker {
    display: none;
  }
  .colorOrange {
    display: none;
  }
}

/* hero
------------------------------ */

/* スライドアニメーション */
.slider {
  /* スライドショーの位置の起点とするため
  position:relative;をつける */
  position: relative;
  /* z-indexの値を小さくして背景に回す */
  z-index: 1;
  /* スライダーの縦幅を画面の高さいっぱい（100vh）にする */
  height: 100vh;
}
/* 背景画面の設定 */
.sliderItem01 {
  background: url(../images/top/heroImage-1.jpg);
}
.sliderItem02 {
  background: url(../images/top/heroImage-2.jpg);
}
.sliderItem03 {
  background: url(../images/top/heroImage-3.jpg);
}
.sliderItem {
  /* 各スライダー全体の横幅を画面の高さいっぱいに（100%）にする */
  width: 100%;
  /* 各スライダー全体の縦幅を画面の高さいっぱいに（100vh）にする */
  height: 100vh;
  /* 背景画像をリピートしない */
  background-repeat: no-repeat;
  /* 背景画像の位置を中央に */
  background-position: center;
  /* 背景画像が.sliderItem全体を覆い表示 */
  background-size: cover;
}
/* 矢印の設定 */
/* ソースコードはJavascriptで書くのでHTML内には書かない */
/* 戻る、次へ矢印の位置 */
.slick-prev,
.slick-next {
  /* 絶対位置にする */
  position: absolute;
  z-index: 3;
  /* 上から42%の位置に表示する */
  top: 42%;
  /* マウスカーソルを指マークにする */
  cursor: pointer;
  /* クリックしたら出てくる枠線を消す */
  outline: none;
  border-top: 2px solid #fff; /* 矢印の色 */
  border-right: 2px solid #fff; /* 矢印の色 */
  height: 20px; /* 矢印のsize */
  width: 20px; /* 矢印のsize */
}
/* 戻る矢印の位置と形状 */
.slick-prev {
  left: 2.5%;
  transform: rotate(-135deg);
}
/* 次へ矢印の位置と形状 */
.slick-next {
  right: 2.5%;
  transform: rotate(45deg);
}
/* dotsナビゲーションの設定 */
/* ソースコードはJavascriptで書くのでHTML内には書かない */
.slick-dots {
  position: relative;
  z-index: 3;
  text-align: center;
  /* dotsの位置 */
  margin: -30px 0 0 0;
}
.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
.slick-dots button {
  color: transparent;
  border: none;
  padding: 0;
  display: block;
  /* dotsボタンのサイズ */
  width: 8px;
  height: 8px;
  border-radius: 50%;
  /* dotsボタンの色 */
  background: #fff;
}
.slick-dots .slick-active button {
  /* dotsボタンの現在地表示の色 */
  background: #333;
}

/* heroSectionテキスト部分の */
.hero {
  position: relative;
}
.heroContainer {
  position: absolute;
  top: 45%;
  left: 10%;
  max-width: 690px;
  z-index: 3;
}
.catchCopy {
  width: calc(100vw / 1.8);
  margin-bottom: 30px;
}
.messageText {
  width: 100%;
  padding-left: 20px;
  color: #fff;
  font-size: clamp(14px, 13.5px + 0.2vw, 16px);
}

/* スクロールダウンアクション */
.scrollDown {
  position: absolute;
  bottom: 60px;
  left: 50%;
  z-index: 3;
}
/* Scrollテキストの描写 */
.scrollDown > span {
  position: absolute;
  left: 5px;
  bottom: 12px;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: .25em;
  /* 縦書き */
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
/* 丸の描写 */
.scrollDown::before {
  content: "";
  /* 描画位置 */
  position: absolute;
  bottom: 45px;
  left: -4px;
  /* 丸の形状 */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f39800;
  /* 丸の動き1.6秒かけて透過し、永遠にループ */
  animation: 
    circlemove 2.5s ease-in-out
    infinite,
    circlemovehide 2.5s ease-in-out
    infinite;
  z-index: 3;
}
/* 下からの距離が変化して、丸全体が上から下に動く */
@keyframes circlemove {
  0% {
    bottom:90px
  }
  100% {
    bottom:-5px
  }
}
/* 上から下にかけて丸が透過→不透過→透過する */
@keyframes circlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: .9;
  }
  100% {
    opacity: 0;
  }
}
/* 線の描写 */
.scrollDown::after {
  content: "";
  /* 描画位置 */
  position: absolute;
  bottom: 0;
  left: 0;
  /* 線の形状 */
  width: 2px;
  height: 95px;
  background-color: #fff;
}

/* SP hero */
@media screen and (max-width: 1025px) {
  /* スライドアニメーション */
  .slider {
    height: 100vh;
  }
  /* 背景画面の設定 */
  .sliderItem01 {
    background: url(../images/top/sp-heroImage-1.jpg);
  }
  .sliderItem03 {
    background:url(../images/top/sp-heroImage-3.jpg);
  }
  .sliderItem {
    /* 各スライダー全体の横幅を画面の高さいっぱいに（100%）にする */
    width: 100%;
    /* 各スライダー全体の縦幅を画面の高さいっぱいに（100vh）にする */
    height: 100vh;
    /* 背景画像をリピートしない */
    background-repeat: no-repeat;
    /* 背景画像の位置を中央に */
    background-position: center;
    /* 背景画像が.sliderItem全体を覆い表示 */
    background-size: cover;
  }
}

@media screen and (max-width: 809px) {
  /* heroSectionテキスト部分 */
  .messageText {
    padding-left: 0px;
  }

  /* スクロールダウンアクション */
  .scrollDown {
    position: absolute;
    bottom: 40px;
    left: 90%;
  }
  /* 線の描写 */
  .scrollDown::after {
    /* 線の形状 */
    width: 1px;
  }
}

@media screen and (max-width: 600px) {
  /* スライドアニメーション */
  /* 背景画面の設定 */
  .sliderItem {
    /* 各スライダー全体の横幅を画面の高さいっぱいに（100%）にする */
    width: 100%;
    /* 各スライダー全体の縦幅を画面の高さいっぱいに（100vh）にする */
    height: 100vh;
    /* 背景画像をリピートしない */
    background-repeat: no-repeat;
    /* 背景画像の位置を中央に */
    background-position: center;
    /* 背景画像が.sliderItem全体を覆い表示 */
    background-size: cover;
  }
  /* heroSectionテキスト部分 */
  .catchCopy {
    min-width: 300px;
  }
}


@media screen and (max-width: 374px) {
  .heroContainer {
    position: absolute;
    top: 45%;
    left: 6%;
  }
  .catchCopy {
    min-width: 270px;
  }
  /* スクロールダウンアクション */
  .scrollDown {
    position: absolute;
    bottom: 40px;
    left: 88%;
  }
}

/* header
------------------------------ */
.header {
  background-color: #f39800;
}
.headerContainer {
  height: 100px;
}

/* nav
------------------------------ */
.headerNav {
  margin: 0 auto;
}
.navMenu {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuList > .trainerLink {
  padding: 0 0 0 30px;
  margin-right: 50px;
  background: url(../images/icon/trainerIcon.png) no-repeat center left/contain;
}
.menuList > .homeLink {
  padding: 0 0 0 30px;
  background: url(../images/icon/homeIcon.png) no-repeat center left/contain;
}
.menuList > a {
  position: relative;
}
.menuList > a::after {
  position: absolute;
  content: '';
  left: 0;
  width: 100%;
  height: 1.5px;
  background: rgba(27, 27, 27, .6);
  /* アンダーラインが現れ始める位置
  aタグの下辺からの高さ */
  bottom: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
.menuList > a:hover:after {
  visibility: visible;
  /* アンダーラインが止まる位置 */
  bottom: -5px;
  opacity: 1;
}

/* SP header */
@media screen and (max-width: 600px) {
  .headerContainer {
    height: 75px;
  }
  .navMenu {
    height: 75px;
  }
}

/* main
------------------------------ */
main {
  position: relative;
}

/* 雲の背景画像 */
.cloudImage > .cloudImageLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}
.cloudImage > .cloudImageCenter {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.cloudImage > .cloudImageRight {
  position: absolute;
  bottom: 0;
  right: 0;
}
.mainContainer {
  position: relative;
  max-width: 1166px;
  height: 100vh;
  padding: 0 45px;
  overflow: hidden;
  margin: 0 auto;
}

/* ロゴ */
.logo {
  width: calc(100vw / 4);
  max-width: 300px;
}
.logo > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ロゴのフェードアップアニメーション */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    position: absolute;
    top: calc(50% - -100px);
    left: 50%;
    transform: translate(-50%, -50%);
  }

  to {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.fadeUpTrigger {
  opacity: 0; /* スクロールをしたら出現する要素にはじめは透過0を指定 */
}

/* イメージ画像 */
.topImage > .top {
  width: 100px;
  border-radius: 50%;
}
.topImage > .mid {
  width: 80px;
  border-radius: 50%;
}
.topImage > .bottom {
  width: 60px;
  border-radius: 50%;
}
.leftSideImage > .leftImageShape {
  max-width: 280px;
  width: calc(100vw / 3);
  position: absolute;
  top: 5%;
  left: 4%;
}
.leftSideImage > .leftImageTop {
  position: absolute;
  top: 53%;
  left: 23%;
}
.leftSideImage > .leftImageMid {
  position: absolute;
  top: 65%;
  left: 4%;
}
.leftSideImage > .leftImageBottom {
  position: absolute;
  top: 80%;
  left: 21%;
}
.rightSideImage > .rightImageShape {
  max-width: 340px;
  width: calc(100vw / 3);
  position: absolute;
  top: 10%;
  left: 66%;
}
.rightSideImage > .rightImageTop {
  position: absolute;
  top: 53%;
  left: 66%;
}
.rightSideImage > .rightImageMid {
  position: absolute;
  top: 65%;
  left: 87%;
}
.rightSideImage > .rightImageBottom {
  position: absolute;
  top: 80%;
  left: 72%;
}

/* イメージ画像のアニメーション */
.fade {
  animation-name: fadeAnimeImage;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeAnimeImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeAnimeTrigger {
  opacity: 0; /* スクロールをしたら出現する要素にはじめは透過0を指定 */
}

/* SP main */
@media screen and (max-width: 1060px) {
  .rightSideImage > .rightImageShape {
    min-width: 210px;
    position: absolute;
    top: 10%;
    left: 64%;
  }
}

@media screen and (max-width: 1024px) {
  .mainContainer {
    padding: 0 4%;
  }
  .logo {
    min-width: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .leftSideImage > .leftImageShape {
    min-width: 170px;
    position: absolute;
    top: 4%;
    left: 4%;
  }
  .leftSideImage > .leftImageTop {
    position: absolute;
    top: 53%;
    left: 22%;
  }
}

@media screen and (max-width: 760px) {
  .leftSideImage > .leftImageTop {
    position: absolute;
    top: 68%;
    left: 70%;
  }
  .leftSideImage > .leftImageMid {
    position: absolute;
    top: 73%;
    left: 4%;
  }
  .leftSideImage > .leftImageBottom {
    position: absolute;
    top: 88%;
    left: 35%;
  }
  .rightSideImage > .rightImageTop {
    position: absolute;
    top: 68%;
    left: 5%;
  }
  .rightSideImage > .rightImageMid {
    position: absolute;
    top: 73%;
    left: 75%;
  }
  .rightSideImage > .rightImageBottom {
    position: absolute;
    top: 88%;
    left: 55%;
  }
  
  /* フェードアニメーション */
  .fadeAnime > .topImage {
    animation-name: fadeAnime;
    animation-duration: 10S;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    opacity: 0;
  }
  .fadeAnime > .rightSideImage {
    animation-delay: 5s;
  }

  @keyframes fadeAnime {
    0% {
      opacity: 0;
    }
    12.5% {
      opacity: 1;
    }
    37.5% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}

@media screen and (max-width: 680px) {
  .rightSideImage > .rightImageShape {
    position: absolute;
    top: 8%;
    left: 58%;
  }
}

@media screen and (max-width: 600px) {
  .rightSideImage > .rightImageShape {
    position: absolute;
    top: 8%;
    left: 55%;
  }
}

@media screen and (max-width: 550px) {
  .rightSideImage > .rightImageShape {
    position: absolute;
    top: 8%;
    left: 48%;
  }
}

@media screen and (max-width: 500px) {
  .rightSideImage > .rightImageShape {
    position: absolute;
    top: 8%;
    left: 46%;
  }
}

@media screen and (max-width: 470px) {
  .rightSideImage > .rightImageShape {
    position: absolute;
    top: 8%;
    left: 43%;
  }
}

@media screen and (max-width: 450px) {
  .leftSideImage > .leftImageShape {
    position: absolute;
    top: 3%;
    left: 4%;
  }
  .rightSideImage > .rightImageShape {
    position: absolute;
    top: 5%;
    left: 35%;
  }
}

@media screen and (max-width: 376px) {
  .leftSideImage > .leftImageShape {
    position: absolute;
    top: 2%;
    left: 3%;
  }
  .leftSideImage > .leftImageTop {
    position: absolute;
    top: 68%;
    left: 64%;
  }
  .rightSideImage > .rightImageShape {
    position: absolute;
    top: 5%;
    left: 35%;
  }
  .rightSideImage > .rightImageMid {
    position: absolute;
    top: 73%;
    left: 70%;
  }
}

/* footer
------------------------------ */
.footer {
  background-color: #f39800;
}
.footerContainer {
  height: 200px;
  margin: 0 auto;
  padding: 50px 0;
}
.footerMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.footerMenu > .footerMenuList > .footerMenuListLink {
  line-height: 2;
}
.footerMenuList {
  padding-right: 20px;
}
.footerMenuList:last-child {
  padding-right: 0;
}
.footerMenuList > a {
  position: relative;
}
.footerMenuList > a::after {
  position: absolute;
  content: '';
  left: 0;
  width: 100%;
  height: 1.5px;
  background: rgba(27, 27, 27, .6);
  /* アンダーラインが現れ始める位置
  aタグの下辺からの高さ */
  bottom: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
.footerMenuList > a:hover:after {
  visibility: visible;
  /* アンダーラインが止まる位置 */
  bottom: -3px;
  opacity: 1;
}
.snsLinkMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.snsLinkMenuList {
  padding-right: 30px;
}
.snsLinkMenuList:last-child {
  padding-right: 0;
}
.snsLinkInstagramImage,
.snsLinkLineImage {
  width: 30px;
  height: 30px;
}
.copyright {
  text-align: center;
}
/* SP footer */
@media screen and (max-width: 768px) {
  .footerContainer {
    height: 250px;
    padding: 50px 4%;
  }
  .footerMenu {
    margin-bottom: 30px;
  }
  .snsLinkMenu {
    margin-bottom: 30px;
  }
}