//PCレイアウト時の最小横幅
$pcContentWidth: 1200px;

//サイトで使用するカラー
$colorBlack: #0a0e0c84;
$colorRed: #f93d22;
$colorYellow: #f2ce16;
$colorWhite: #f2f2f2;
$colorBlue: #255a8a;
$colorGray: #bfbfbf;
$colorText: #333;
$colorLightY: #FFDD30;
$colorLightR: #FF573D;
$colorLightB: #4F95D6;
$colorLightBlack: #302A31;

//コンテンツ間の余白
$contentsMargin: 100px;