@use "./../setting/setting-index" as *;
@use "./../mixin/mixin-index" as m;

/* header
------------------------------ */
.header {
  width: 20%;
  height: 100%;
  &__container {
    width: 100%;
    max-width: 200px;
    height: auto;
    padding: 4%;
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  &__title {
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 0;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
  }
  &__subTitle {
    font-size: 2rem;
    font-weight: normal;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
  }
}
