@use "./../setting/setting-index" as *;
@use "./../mixin/mixin-index" as m;

.body {
  &__contentWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


/* マウスストーカー
------------------------------ */
#cursor,
#mouseStalker {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  overflow: hidden;
  pointer-events: none;
  z-index: 999;
}
#cursor {
  width: 10px;
  height: 10px;
  background-color: #1b1b1b;
  opacity: .8;
}
#mouseStalker {
  width: 30px; /* マウスストーカーの直径 */
  height: 30px; /* マウスストーカーの直径 */
  background: rgba(255, 255, 255, .6);
  transform: translate(0, 0);
  transition: transform .25s, top .5s, left .5s, width .5s, height .5s, background-color .5s; /* ポインターに遅れて付いてくる */
  transition-timing-function: ease-out;
  box-shadow: 0 0 7px 3px rgba(255, 255, 255, .4);
  z-index: 999;
}
#cursor.active {
  width: 55px;
  height: 55px;
  background-color: rgba(243, 152, 0, .6);
}

